.*/*
!.github/*
!.vscode/settings.json
.idea

target
os/src/link_app.S
os/last-*

os/.gdb_history
os/target
kernel-rv
os/sdcard*
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
tools/
pushall.sh
*.bak
os/sdcard-rv.img
os/fs.img
os/mnt
os/build
user/
ci-user/
.DS_Store
os/lwext4_rust/c/lwext4/liblwext4-riscv64.a
os/lwext4_rust/c/lwext4/liblwext4-loongarch64.a
