.*/*
!.github/*
!.vscode/settings.json
.idea

target
os/disk.img
os/src/link_app.S
os/last-*
os/push_remotes.sh
os/.gdb_history
os/target
kernel-rv
kernel-la
os/sdcard*
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
tools/
pushall.sh
*.bak
os/sdcard-rv.img
os/fs.img
os/mnt
os/build
user/
ci-user/